body{
    background-color: teal;


}
#container{
    color:white;
    width: 700px;
    margin: auto;
    align-items: center;
    padding: 60px;
    margin-top: auto;
    display:block;
}
h2{
    font-style: italic;
    margin-top: auto;
    font-size: 50px;
}
img{

    width: 600px;
    padding: 20px;
    margin-top: 50px;
    display: block;

}
button{
    background-color:tomato;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}